body {
    font:15px/1.5 Roboto, "Helvetica Neue", sans-serif;
    padding:0;
    margin:0;
}

#header {
    color: white;
    top: 0;
    width: 100%;
    text-align: center;
    padding-top: 3.5em;
    padding-bottom: 4.5em;
}

#header h1 {
    font-size: 3em;
}

#numberInputForm {
    margin-top: 2em;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;

}

.input-container {
    width: 50%;
}

.input-container label {
    width: 100%;
    display: inline-block;
    margin-bottom: 0.5em;;
}

.input-container input  {
    width: 95%;
    height: 2em;
}

#numberInputForm button {
    margin-top: 2em;
    display: block;
    justify-content: left;
    padding: 9px;
    font-weight: bold;
}